name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  cabal:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ghc: ['8.10']
    name: Haskell GHC ${{ matrix.ghc }}
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - uses: haskell/actions/setup@v1
      with:
        ghc-version: ${{ matrix.ghc }}
    - uses: actions/cache@v2
      with:
        path: |
          ~/.cabal
          dist-newstyle
        key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('**/*.cabal','**/cabal.project') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.ghc }}-
          ${{ runner.os }}-
    - run: cabal update
    - run: cabal build --enable-tests --flags=ci all
    - run: cabal test --enable-tests --flags=ci --test-show-details=direct all
    - run: cabal haddock all
    - run: cabal sdist all
    - run: cd matrix-client; cabal check
#    - run: cd matrix-bot; cabal check
    - run: cabal install --installdir=/tmp --overwrite-policy=always --lib all
